.inputGroup{
    .inputForm {    
      // color: #8b949e;
      &::placeholder{
        color: #93959f;
      }
      
    }
    .labelT {
        color: #676b71;      
    }
  }
  
  :host::ng-deep{
    // nb-checkbox .customised-control-description {
    //   font-size: 1.6rem;
    //   position: relative;
    //   top: -0.5rem;
    //   padding: 0 1rem;
    // }
    .ck-editor__editable {
        min-height: 200px;
    }
  }
  