:host::ng-deep{
    nb-checkbox .customised-control {
      padding:0 !important;
    }
}

.tableList{  
  .titleLink{
      cursor: pointer;
      color: #418fdb;
      text-decoration: underline;
      font-size: 13px;
  }
}