<div class="col-12 p-0 tableSmartList">
  <nb-card>
    <!-- <nb-tabset (changeTab)="selectTab($event)">
      <nb-tab tabTitle="Active Colors"> -->
    <app-active-colors></app-active-colors>
    <!-- </nb-tab> -->
    <!-- <nb-tab tabTitle="Deleted Colors">
        <app-deleted-colors *ngIf="tabList == 'Deleted Colors'"></app-deleted-colors>
      </nb-tab> -->
    <!-- <nb-tab tabTitle="Deactivated Colors">
        <app-deactivated-colors *ngIf="tabList == 'Deactivated Colors'"></app-deactivated-colors>
      </nb-tab> -->
    <!-- <nb-tab tabTitle="Suspended Colors">
        <app-suspended-colors *ngIf="tabList == 'Suspended Colors'"></app-suspended-colors>
      </nb-tab>
      <nb-tab tabTitle="Reported Colors">
        <app-reported-colors *ngIf="tabList == 'Reported Colors'"></app-reported-colors>
      </nb-tab>     -->

    <!-- </nb-tabset> -->
  </nb-card>
</div>
