<div class="col-12 p-0 tableSmartList">
  <nb-card>
    <!-- <nb-tabset (changeTab)="selectTab($event)"> -->
    <!-- <nb-tab tabTitle="Product Ratings"> -->
    <app-product-rating></app-product-rating>
    <!-- </nb-tab> -->
    <!-- <nb-tab tabTitle="Product Reviews">
        <app-product-review *ngIf="tabList == 'Product Reviews'"></app-product-review>
      </nb-tab>
      <nb-tab tabTitle="Seller Ratings">
        <app-seller-rating *ngIf="tabList == 'Seller Ratings'"></app-seller-rating>
      </nb-tab>
      <nb-tab tabTitle="Buyer Ratings">
        <app-buyer-rating *ngIf="tabList == 'Buyer Ratings'"></app-buyer-rating>
      </nb-tab>
      <nb-tab tabTitle="Buyer">
        <app-buyer *ngIf="tabList == 'Buyer'"></app-buyer>
      </nb-tab>
      <nb-tab tabTitle="Seller Rating Parameters">
        <app-rating-parameters *ngIf="tabList == 'Seller Rating Parameters'"></app-rating-parameters>
      </nb-tab> -->
    <!-- </nb-tabset> -->
  </nb-card>
</div>
