:host::ng-deep{
    nb-checkbox .customised-control {
      padding:0 !important;
    }
}

.tableList{  
  .titleLink{
      cursor: pointer;
      color: #418fdb;
      text-decoration: underline;
      font-size: 13px;
  }
  .userImg {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
  }
}
