<div
  class="tableListEdit col-12 p-0"
  *ngIf="langSelectors && langSelectors.length > 0"
>
  <!-- <i class="nb-arrow-thin-left iconArrow" (click)="back()"></i> -->
  <div class="listCheckboxes mb-5">
    <nb-checkbox
      [disabled]="list.languageCode == 'en'"
      [value]="list.active"
      (change)="reportCheckbox($event, i, list.languageCode)"
      *ngFor="let list of langSelectors; let i = index"
      >{{ list.language }}</nb-checkbox
    >
  </div>
  <nb-card class="p-4">
    <form
      class="inputGroup col-xl-8 p-0"
      [formGroup]="addUserForm"
      (ngSubmit)="getUsers(addUserForm.value)"
    >
      <div
        class="form-group row"
        [hidden]="!list.active"
        *ngFor="let list of langSelectors; let i = index"
      >
        <label class="col-md-3 col-form-label labelT"
          >Reason ({{ list.language }})</label
        >
        <div class="col-md-9">
          <input
            type="text"
            class="form-control inputForm"
            formControlName="{{ list.languageCode }}"
            [ngClass]="{
              invalid:
                submitted && addUserForm.controls[list.languageCode].errors
            }"
          />
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" nbButton size="small">
          Submit
        </button>
      </div>
    </form>
  </nb-card>
</div>
